.grid-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    grid-template-areas:
    "card1 card2 card3";
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
