.background--footer {
    @extend .background;
    background-image: none;
    background-color: $black;
    padding: 50px;
  }
  .background--footer_compra {
    @extend .background--footer;
    padding: 65px;
  }